bin/
obj/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.tmp
*.bak
*.nupkg
*.snupkg
*.pdb
.vs/
.vscode/
*.rsuser
*.DotSettings.user
Properties/PublishProfiles/
publish/
artifacts/
wwwroot/_framework/
wwwroot/service-worker-assets.js
