@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to diary app</h1>

<p>Welcome to your new app.</p>

<div class="home-actions">
    <NavLink class="home-btn" href="/diary">Go to Diary</NavLink>
    <NavLink class="home-btn" href="/setting">Go to Setting</NavLink>
    <NavLink class="home-btn" href="/history">Go to History</NavLink>
</div>
