@page "/setting"

<PageTitle>Setting</PageTitle>

<h1>Setting</h1>

<p style="font-size: 1.2rem;">
    Font Style Selection
</p>

<select>
    <option value="serif">Serif</option>
    <option value="sans-serif">Sans-serif</option>
    <option value="monospace">Monospace</option>
</select>

