<header class="navmenu">
    <div class="navmenu-inner">
        <NavLink class="navmenu-brand" href="/" Match="NavLinkMatch.All">Diary App
        <style>margin-right: 20px;</style>    
        </NavLink>

        <button class="navmenu-toggle" type="button" @onclick="ToggleNavMenu">
            Menu
        </button>

        <nav class="navmenu-links @NavMenuCssClass" @onclick="ToggleNavMenu">
            <NavLink class="navmanu-brand" href="/" Match="NavLinkMatch.All">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     style="margin-right: 4 px;">
                    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20" stroke="currentColor" stroke-width="2" />
                    <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z" stroke="currentColor"
                          stroke-width="2" />
                </svg>
            </NavLink>
            <NavLink class="navmenu-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="navmenu-link" href="/diary">My Diary</NavLink>
            <NavLink class="navmenu-link" href="/reminders">Reminders</NavLink>
            <NavLink class="navmenu-link" href="/setting">Setting</NavLink>
        </nav>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}