@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>Diary App</PageTitle>

<div class="page">
    @if (IsAdminPage())
    {
        <AdminNavMenu />
    }
    else if (IsMainPage())
    {
        <NavMenu />
    }

    <main class="main">
        <article class="@ContentCssClass">
            @Body
        </article>
    </main>

    @if (ShowFooter())
    {
        <AppFooter />
    }
</div>

@code {
    private string ContentCssClass
    {
        get
        {
            if (IsAdminPage()) return "admin-content";
            
            var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            if (string.IsNullOrEmpty(relativePath) || relativePath.Equals("register", StringComparison.OrdinalIgnoreCase))
            {
                return "auth-content";
            }
            
            return "content px-4";
        }
    }

    private bool IsMainPage()
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (string.IsNullOrEmpty(relativePath))
        {
            return false;
        }

        return relativePath != "register";
    }

    private bool IsAdminPage()
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        return !string.IsNullOrEmpty(relativePath) && relativePath.StartsWith("admin", StringComparison.OrdinalIgnoreCase);
    }

    private bool ShowFooter()
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (string.IsNullOrEmpty(relativePath))
        {
            return false;
        }

        if (relativePath.Equals("register", StringComparison.OrdinalIgnoreCase) ||
            relativePath.Equals("logout", StringComparison.OrdinalIgnoreCase))
        {
            return false;
        }

        if (relativePath.Equals("admin", StringComparison.OrdinalIgnoreCase))
        {
            return false;
        }

        return true;
    }
}
